.about-us {
  height: 80vh;
  overflow: hidden;
  background-image: url("../images/close-up-hand-holding-tasty-burger\ \(2\).png");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  animation:
    fade 1.5s linear,
    grow 1s linear;
  padding: 100px 0;
}

@keyframes grow {
  from {
    height: 0vh;
  }
  to {
    opacity: 80vh;
  }
}
@media (max-width: 768px) {
  .about-us {
    background-image: url("../images/close-up-hand-holding-tasty-burger\ \(2\).png");
    background-position: 50% 20%;
  }
}
.titel {
  overflow: hidden;
  position: absolute;
  top: 30%;
  left: 45%;
  padding: 1rem;
}
.titel h1 {
  font-size: clamp(1.7rem, 5vw, 3.3rem);
  font-family: "Shadows Into Light", cursive;

  animation: fade 1s ease-in-out;
}
.titel p {
  font-family: "Shadows Into Light", cursive;
  font-size: clamp(0.8rem, 3vw, 1.6rem);
  text-align: center;
  color: rgba(0, 0, 0, 0.685);
  margin-bottom: 1rem;

  animation: fade 2s ease-in-out;
}
.titel button {
  background: linear-gradient(135deg, #ff9800, #ff5722, #ffb347, #ff7043);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
  padding: 0.7rem;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  display: block;
  margin: 0 auto;

  animation: fade 3s ease-in-out;
}
.titel a {
  text-decoration: none;
  color: white;
  font-family: "Shadows Into Light", cursive;
}
.our-story {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.titel-story {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0.5rem;
  overflow: hidden;
}
.our-story h1,
.our-journey h1,
.core-values h1 {
  text-align: center;
  animation: fade both;
  animation-timeline: view(10% 5%);
  padding: 4rem;
  font-size: clamp(2.2rem, 5vw, 3.3rem);
  font-family: "Shadows Into Light", cursive;
}
@keyframes translateRight {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes translateLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.titel-story p {
  width: 27rem;
  letter-spacing: 2px;
  font-family: "Shadows Into Light", cursive;

  animation: translateRight both;
  animation-timeline: view(50% 5%);
}
.titel-story span {
  color: #ff9800;
}
.titel-story img {
  box-shadow: 7px 7px 7px #ff990060;
  border-radius: 10px;
  overflow: hidden;
  animation: translateLeft both;
  animation-timeline: view(10% 5%);
}
.core-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  place-content: center;

  gap: 1rem;
}

#core-center1 {
  animation: fade both;
  animation-timeline: view(10% 5%);
}
#core-center2 {
  animation: fade both;
  animation-timeline: view(10% 5%);
}
#core-center3 {
  animation: fade both;
  animation-timeline: view(10% 5%);
}
#core-center4 {
  animation: fade both;
  animation-timeline: view(10% 5%);
}
#core-center5 {
  animation: fade both;
  animation-timeline: view(10% 5%);
}
#core-center6 {
  animation: fade both;
  animation-timeline: view(10% 5%);
}

@media (max-width: 1024px) {
  .core-container {
    grid-template-columns: repeat(2, 290px);
  }
}
@media (max-width: 768px) {
  .core-container {
    grid-template-columns: 280px;
  }
  #core-center1 {
    animation: translateLeft both;
    animation-timeline: view(10% 5%);
  }
  #core-center2 {
    animation: translateRight both;
    animation-timeline: view(10% 10%);
  }
  #core-center3 {
    animation: translateLeft both;
    animation-timeline: view(20% 10%);
  }
  #core-center4 {
    animation: translateRight both;
    animation-timeline: view(30% 10%);
  }
  #core-center5 {
    animation: translateLeft both;
    animation-timeline: view(40% 10%);
  }
  #core-center6 {
    animation: translateRight both;
    animation-timeline: view(50% 10%);
  }
}
.core-center {
  border-radius: 1rem;
  border: 1px solid white;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(135deg, #ff9800, #ff5722, #ffb347, #ff7043);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
  font-family: "Shadows Into Light", cursive;
  transition: all 0.3s linear;
}
.core-center:hover {
  background: linear-gradient(135deg, #ffb300, #ff8f00, #ffb300, #ff8f00);
  background-size: 300% 300%;
  animation: gradientMove 2s ease infinite;
}
.core-center svg {
  fill: rgb(238, 255, 3);
}

.container-our-journey {
  margin-top: 4rem;
  position: relative;

  display: grid;
  font-family: "Shadows Into Light", cursive;
  place-self: center;
}
.center-journey {
  padding: 1.5rem;

  position: relative;
}
.our-journey {
  padding: 1rem;
  margin-bottom: 4rem;
}
.container-our-journey::after {
  content: "";
  position: absolute;
  width: 4px;

  border-radius: 10px;
  background-color: #ffb300;
  animation: animation-top both;
  animation-timeline: view(20% 10%);
}
@keyframes animation-top {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
.center-journey::after {
  content: "";
  position: absolute;
  width: 25px;
  left: -10px;
  top: 20%;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 1;
}

