.checkout {
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.checkout h1 {
  margin-bottom: 2rem;
  padding: 2rem;
  font-size: clamp(1.7rem, 5vw, 3.3rem);
  font-family: "Shadows Into Light", cursive;
  animation: fade 2s ease-in-out;
}

.conatiner-checkout {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.center-checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(270px, 40vw, 500px);
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  color: #000;
  padding: 0.7rem 0.7rem;
}
.center-checkout h4 {
  max-width: 150px;
}
.center-checkout img {
  width: 100px;
  border-radius: 10px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
}
.titel-checkout {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: "Shadows Into Light", cursive;
}

.count-checkout span:last-of-type,
.count-checkout span:first-of-type {
  background-color: #ffae00;
  color: white;
  padding: 0rem 0.5rem;
  border-radius: 1rem;
  margin: 0.6rem;
}
.count-checkout p {
  padding-bottom: 1rem;
  padding-top: 0.3rem;
  font-size: 0.9rem;
  color: orange;
}

.order-summary {
  background-color: whitesmoke;
  color: #000;
  animation: translateLeft 1.3s ease-in-out;
  font-family: "Shadows Into Light", cursive;
  padding: 2rem;
  border-radius: 1rem;
}
.bill {
  display: flex;
  justify-content: space-around;
  padding: 0.4rem;
}
.TX,
.ST {
  font-size: 0.9rem;
}
.total {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem;
}
.shipping-information {
  background-color: whitesmoke;
  font-family: "Shadows Into Light", cursive;
  color: #000;
  border-radius: 1rem;
  padding: 2.7rem;
  margin-top: 1rem;
  animation: translateLeft 1.7s ease-in-out;
}
.shipping-information label {
  display: block;
  padding-bottom: 3px;
  padding-top: 3px;
}
.shipping-information input,
textarea {
  width: 200px;
  padding: 0.6rem;
  border-radius: 10px;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}
.shipping-information input:focus,
.shipping-information textarea:focus {
  outline: none;
  border: 2px solid orange;
}
.chose-pay {
  display: flex;
  justify-content: start;
  align-items: end;
  text-align: center;
}
.chose-pay input {
  width: 40px;
  height: 18px;
}
.shipping-information button {
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ffae00;
  color: white;
  font-family: "Shadows Into Light", cursive;
  cursor: pointer;
  width: 220px;
  transition: opacity 0.3s linear;
}
.cart-checkout {
  animation: translateRight 2s ease-in-out;
}
@keyframes translateRight {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes translateLeft {
  from {
    opacity: 0;

    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.shipping-information button:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  /* ترتيب الموبايل المطلوب */
  .order-summary {
    order: 3; /* أولاً */
  }

  .cart-checkout {
    order: 2; /* ثانياً */
  }

  .shipping-information {
    order: 2; /* ثالثاً */
  }
}
