* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact-us {
  margin-top: 9rem;
  padding: 1rem;
  margin-bottom: 5rem;
}
.container-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  flex-wrap: wrap;
}
.center-contact h1 {
  margin-bottom: 2rem;
  font-size: clamp(1.7rem, 5vw, 3.3rem);
  font-family: "Shadows Into Light", cursive;
  animation: fade 1.2s ease-in-out;
}
.touch-details1 {
  animation: translateRight 1.2s ease-in-out;
}
.touch-details2 {
  animation: translateRight 1.6s ease-in-out;
}
.touch-details3 {
  animation: translateRight 1.9s ease-in-out;
}
.touch-details4 {
  animation: translateRight 2.2s ease-in-out;
}
.touch-details p {
  font-family: "Shadows Into Light", cursive;
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: rgb(255, 255, 255);
}
.touch-details {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.icon-media {
  fill: white;
  margin-bottom: 3rem;
  animation: fade 2s ease-in-out;
}

.form-touch form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.filed {
  animation: translateRight 2s ease-in-out;
}
@keyframes translateRight {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes translateLeft {
  from {
    opacity: 0;

    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.form-touch input,
.form-touch textarea {
  padding: 0.8rem;
  width: 300px;
  border: none;
  border-radius: 0.5rem;
  font-family: "Shadows Into Light", cursive;
}
.form-touch input:focus,
.form-touch textarea:focus {
  outline: none;
  border: 2px solid orange;
}
.form-touch button {
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #ff9800, #ff5722, #ffb347, #ff7043);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
  color: white;
  font-family: "Shadows Into Light", cursive;
  cursor: pointer;
  width: 300px;
}
.filed {
  position: relative;
}
.filed label {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-family: "Shadows Into Light", cursive;
  pointer-events: none;
  left: 0;
  transition: all 0.5s linear;
  opacity: 0;
}
.filed input:hover::placeholder {
  color: transparent;
}
.filed input:hover + label,
.filed input:focus + label {
  top: -26px;
  opacity: 1;
  padding: 0.2rem;
  font-size: 1rem;
  color: rgb(255, 254, 254);
}
iframe {
  border-radius: 10px;
  width: clamp(400px, 100%, 600px);
  animation: translateLeft 1.2s ease-in-out;
}
