@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Bebas+Neue&family=Bitter:wght@100..900&family=Dancing+Script:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Satisfy&family=Signika+Negative:wght@300..700&family=Teko:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  box-sizing: none;
  padding: 0;
}
body {
  background-color: #000000;
  color: white;
}
.progress {
  position: fixed;
  background: linear-gradient(135deg, #ff9900, #ff5722, #ffb347, #ff7043);
  background-size: 300% 300%;
  height: 8px;
  border-radius: 100px;
  width: 100%;
  top: 0;
  z-index: 999;
  transform-origin: 0 50%;
  animation:
    gradientMove 2s ease infinite,
    grow-progress linear forwards;
  animation-timeline: scroll();
}
@keyframes grow-progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.header {
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(250, 237, 237, 0.733);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 30px black;
  z-index: 2;
  position: fixed;
  
top:0;
left:0;
right:0;
  animation: nav-animation1 1s ease-in-out;
}
.nav {
  display: flex;
  gap: 50px;
  align-items: center;
  background-color: rgb(255, 166, 2);
  padding: 1rem 3rem;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.582);
}
@keyframes nav-animation1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes nav-animation2 {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes nav-logo {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: clamp(60px, 30%, 270px);
  }
}
.dash-b {
  display: none;
}
@media (max-width: 780px) {
  .nav {
    position: absolute;
    flex-direction: column;
    top: 99%;
    left: 0;
    right: 0;
    text-align: center;
    gap: 1rem;
    border-radius: 0;
    place-items: center;
    height: 0%;
    width: 100%;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
  }

  .nav.open {
    height: 150px;
    visibility: visible;
    opacity: 1;
  }
  .dash-b {
    display: block;
  }
  .dash-b img {
    width: 40px;
  }
}
.nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-family: Arial;
  transition: color 0.3s linear;
}
.nav a:hover {
  color: white;
}
.nav li {
  position: relative;
  list-style: none;
}
.nav li:nth-child(1) {
  animation: nav-animation2 1.3s ease-in-out;
}
.nav li:nth-child(2) {
  animation: nav-animation2 1.5s ease-in-out;
}
.nav li:nth-child(3) {
  animation: nav-animation2 1.7s ease-in-out;
}
.nav li:nth-child(4) {
  animation: nav-animation2 1.9s ease-in-out;
}
.nav li::after {
  content: "";
  position: absolute;
  background-color: rgb(10, 10, 10);
  top: 100%;
  left: 0;
  border-top-left-radius: 1rem;
  height: 4px;
  width: 0%;
  transition: width 0.5s ease-in-out;
}
.nav li::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 100%;
  border-top-right-radius: 1rem;
  right: 0;
  height: 4px;
  width: 0%;
  transition: width 0.5s ease-in-out;
}
.nav li:hover::after,
.nav li:hover::before {
  width: 50%;
}
.icon-cart {
  position: relative;
  border: none;
  padding: 0.5rem;
}
.count-cart {
  position: absolute;
  left: 50%;
  bottom: 60%;
  background-color: rgb(255, 166, 2);
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.4rem;
}
.logo {
  display: flex;
  align-items: center;
  width: 270px;
  border-radius: 3rem;
  background-color: #000000;
}
.logo img {
  width: clamp(60px, 30%, 270px);

  animation: nav-logo 1s ease-in-out;
}
.logo h2 {
  font-family: Arial;
  color: rgb(255, 166, 2);
  padding: clamp(0, 2vh, 1rem);
  animation: nav-animation1 1.2s ease-in-out;
  text-shadow: 9px 9px 9px rgba(0, 0, 0, 0.445);
}
.container-hero {
  margin-top: 8rem;
  padding: clamp(2rem, 5vh, 5rem);
  position: relative;
  overflow: hidden;
}
.center-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image-hero {
  width: 500px;
}
.image-hero img {
  width: clamp(200px, 80%, 500px);
  object-fit: cover;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation:
    floatShadow 3s ease-in-out infinite,
    fade-image 1s linear;
  transition: 0.3s ease;
}
@keyframes floatShadow {
  0% {
    box-shadow: 0 10px 25px rgba(255, 187, 1, 0.911);
  }
  50% {
    box-shadow: 0 20px 40px rgb(255, 151, 32);
  }
  100% {
    box-shadow: 0 10px 25px rgb(255, 238, 5);
  }
}
.title-hero {
  width: 800px;
}
.title-hero h1 {
  letter-spacing: 2px;
  color: orange;
  font-size: clamp(0.7rem, 6vh, 5rem);
  font-family: "Shadows Into Light", cursive;
  font-weight: 900;
  font-style: normal;
  animation: fade-text1 1s linear both;

  transition: animation 0.5s ease-in-out;
  text-shadow: 9px 9px 9px rgba(0, 0, 0, 0.445);
}
.title-hero p {
  font-size: clamp(0.1rem, 2vh, 2rem);
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  padding-top: 1.5rem;
  transition: animation 0.5s ease-in-out;
  animation: fade-text1 1s linear both;
}
@keyframes fade-text1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-image {
  from {
    opacity: 0;

    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    scale: 0.75;
    translate: 0 1rem;
    opacity: 0;
  }
  to {
    scale: 1;
    translate: 0;
    opacity: 1;
  }
}
@keyframes imageReveal {
  from {
    filter: saturate(0), contrast(4), brightness(0.1), blur(5px);
    opacity: 0;
    scale: 0.95;
    translate: 0 4rem;
  }
  to {
    filter: none;
    opacity: 1;
    scale: 1;
    translate: 0;
  }
}
.title-hero button {
  background-color: orange;
  padding: 1rem 2rem;
  border: rgb(255, 255, 255) solid 2px;
  margin-top: 2rem;
  border-radius: 2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Shadows Into Light", cursive;
  background: linear-gradient(135deg, #ff9800, #ff5722, #ffb347, #ff7043);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
  text-shadow: 9px 9px 9px rgba(255, 238, 4, 0.979);

  animation: fade 2s linear;
}

.title-hero button:hover {
  animation: gradientMove 3s ease infinite;
}
.title-hero a {
  text-decoration: none;
  color: white;
}
.glow-circle1 {
  position: absolute;

  animation:
    float2 8s ease-in-out infinite,
    fade 2s ease-in-out;
  bottom: 40%;
  right: 50%;
  height: 200px;
}
.glow-circle1 img {
  width: clamp(100px, 100%, 200px);
}
.glow-circle2 {
  position: absolute;
  left: 85%;
  top: 30%;
  height: 200px;
  animation:
    fade 2s ease-in-out,
    float3 10s ease-in-out infinite;
}
.glow-circle2 img {
  width: clamp(100px, 100%, 200px);
}
.glow-circle3 {
  position: absolute;
  left: 50%;
  top: 60%;
  height: 300px;

  animation:
    fade 2s ease-in-out,
    float1 10s ease-in-out infinite;
}
.glow-circle3 img {
  width: clamp(100px, 100%, 200px);
}

@keyframes float1 {
  0% {
    transform: translate(-60%, -60%) translate(0px, 0px);
  }
  25% {
    transform: translate(-60%, -60%) translate(90px, 20px);
  }
  50% {
    transform: translate(-60%, -60%) translate(-60px, 60px);
  }
  75% {
    transform: translate(-60%, -60%) translate(40px, -40px);
  }
  100% {
    transform: translate(-60%, -60%) translate(0px, 0px);
  }
}

@keyframes float2 {
  0% {
    transform: translate(-50%, -50%) translate(0px, 0px);
  }
  25% {
    transform: translate(-50%, -50%) translate(-80px, 30px);
  }
  50% {
    transform: translate(-50%, -50%) translate(70px, -50px);
  }
  75% {
    transform: translate(-50%, -50%) translate(-50px, 40px);
  }
  100% {
    transform: translate(-50%, -50%) translate(0px, 0px);
  }
}

@keyframes float3 {
  0% {
    transform: translate(-50%, -50%) translate(0px, 0px);
  }
  25% {
    transform: translate(-50%, -50%) translate(90px, -30px);
  }
  50% {
    transform: translate(-50%, -50%) translate(-70px, -60px);
  }
  75% {
    transform: translate(-50%, -50%) translate(50px, 50px);
  }
  100% {
    transform: translate(-50%, -50%) translate(0px, 0px);
  }
}

.featured-burger h1,
.testimonials h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 2rem;
  animation: fade both;
  animation-timeline: view(10% 5%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.grid-featured-B {
  position: relative;
  animation: imageReveal both;
  animation-timeline: view(50% 20%);
  overflow: hidden;
  width: clamp(320px, 5vh, 370px);
  border: 1px solid rgb(255, 253, 253);
  border-radius: 1rem;
  transition: all 0.5s linear;
  aspect-ratio: 2/3;
}
.grid-featured-B:hover {
  box-shadow: 9px 9px 9px rgba(255, 255, 255, 0.192);
}
.grid-featured-B img {
  width: clamp(100px, 100%, 360px);
  height: 250px;
  border-top-left-radius: 1rem;
  object-fit: cover;

  border-top-right-radius: 1rem;
  transition: transform 0.3s linear;
}
.grid-featured-B img:hover {
  transform: scale(1.1);
}
.container-featured-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4rem;
  padding: 0.2rem;
  gap: 2rem;
}

.grid-featured-B h2 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 0.8rem;
  text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.644);
}
.grid-featured-B p,
.reviews p,
.newsletter p {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  padding: 0.6rem;

  font-style: normal;
}
.featured-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.add-to-cart {
  padding: 0.5rem 1.3rem;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 2rem;

  background: linear-gradient(135deg, #ff9800, #ff5722, #ffb347, #ff7043);
  background-size: 300% 300%;
  border: #c9c7c7 solid 1px;
}
.add-to-cart:hover {
  animation: gradientMove 6s ease infinite;
}
.add-to-cart img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.add-to-cart span {
  font-size: 0.9rem;
  font-style: oblique;
  font-family: Arial;
  font-weight: 500;
  color: white;
}
.featured-price h3 {
  text-shadow: 7px 7px 7px rgba(73, 72, 66, 0.192);
  font-family: "Shadows Into Light", cursive;
  padding: 5px;
  font-style: normal;
  color: #ffc400;
  position: absolute;
  top: 2%;
  right: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
}
.btn-menu {
  display: grid;
  place-self: center;
  margin-top: 2rem;
  border-radius: 2rem;
  border: white solid 1px;
  padding: 1rem 2rem;

  font-size: 1rem;
  animation:
    fade both,
    gradientMove 6s ease infinite;

  animation-timeline: view(10% 5%);
  font-family: "Shadows Into Light", cursive;
  background: linear-gradient(135deg, #ff9800, #ff5722, #ffb347, #ff7043);
  background-size: 300% 300%;
}
.btn-menu a {
  text-decoration: none;
  color: white;
}
.reviews {
  width: clamp(200px, 80%, 500px);
  position: relative;
  box-shadow: 7px 7px 7px rgba(73, 72, 66, 0.192);
  background-color: #dfdcdc41;
  display: block;
  justify-self: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  margin: 2rem 2rem;

  animation: fade both;
  animation-timeline: view(50% 5%);
}
.reviews h5 {
  font-weight: bold;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.prev,
.next {
  position: absolute;
  top: 40%;
  background-color: white;
  border-radius: 50%;
  padding: 0.2rem 0.3rem;
  box-shadow: 7px 7px 7px rgba(73, 72, 66, 0.192);
}
.prev {
  left: -2%;
}
.next {
  right: -2%;
}
.reviews svg {
  margin-right: 55px;
}
.newsletter {
  background: linear-gradient(135deg, #ff9800, #ff5722, #ffb347, #ff7043);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
  text-align: center;
  padding: 60px 20px;
  color: #fff;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.newsletter:hover {
  animation-duration: 3s;
}

.newsletter h1 {
  font-size: 3.1rem;
  padding: 2rem 0rem;
  font-family: Arial, Helvetica, sans-serif;
}
.newsletter-email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.newsletter-email input {
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: all 0.3s linear;
}
.newsletter-email input:focus {
  outline: none;
  border: #000000 1px solid;
}

.newsletter-email button {
  background-color: #000000;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.1rem;
  transition: opacity 0.3s linear;
}

.newsletter-email button:hover {
  opacity: 0.6;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
  gap: 2rem;
}
.logo-footer {
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 5rem;
  width: 270px;
}
.logo-footer img {
  width: 30%;
  object-fit: cover;
}
.logo-footer h2 {
  font-family: Arial;
  color: rgb(255, 166, 2);
  text-shadow: 9px 9px 9px rgba(0, 0, 0, 0.445);
}
.quick-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quick-links a {
  text-decoration: none;
  color: white;
  font-family: "Shadows Into Light", cursive;
}
.quick-links h2,
.icon-meadia h2,
.Newsletter h2 {
  font-family: Arial, Helvetica, sans-serif;
}
.icon-meadia svg {
  color: white;
}
.js-reviwe,
.js-person {
  transition: opacity 0.3s linear;
}
